.first{
    background-image: url(./images/Rectangle\ 14\ \(1\).png);
}
.card{
    background-image: url(./images/Rectangle\ 14\ \(1\).png);
}
.last{
    background-image: url(./images/Rectangle\ 14\ \(1\).png);
}